<div class="w-100 login-color d-flex align-items-center">
    <div class="container text-white">
        <div class="row">
            <div class="offset-3 col-6 pb-5">
                {{> message}}
            </div>
        </div>
        <div class="row pl-5 d-flex justify-content-center">
            <div class="col-6 pl-5 logo-noti d-flex justify-content-between align-items-center">
                <img src="/img/NotifyWhite.svg" alt="Logo Notify">
                <div class="lineav"></div>
            </div>
            <div class="col-6 px-5">
                <div class="row px-5">
                    <div class="col-12 text-center">
                        <img class="logo-sky" src="/img/logo.svg" alt="Logo SkyGuardian">
                    </div>
                    <div class="col-12 pt-5">
                        <form class="formlogin" action="/sessionStart" method="POST">
                            <div class="form-group">
                                <input type="email" class="form-control" id="username" name="username"
                                    aria-describedby="emailHelp" placeholder="Usuario" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control mb-1" id="password" name="password"
                                    placeholder="Contraseña" required>
                                <!--<p class="forget-pass pt-3" id="link-pass">¿Olvidaste la contraseña?</p>-->
                            </div>
                            <div class="d-flex justify-content-center w-100 pt-3">
                                <button type="submit" class="btn btn-orange py-2 px-5">Iniciar sesión</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- <div class="container log-container d-flex justify-content-center align-items-center">
    <div class="row widthLog">
        {{> message}}
        <div class="login">
            <div class="logo d-flex justify-content-center">
                <img src="/img/logo.svg" alt="Logo SkyGuardian">
            </div>
            <div class="form-login">
                <form action="/sessionStart" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" id="username" name="username"
                            aria-describedby="emailHelp" placeholder="Usuario" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control mb-1" id="password" name="password"
                            placeholder="Contraseña" required>
                        <p class="forgetpass" id="link-pass">¿Olvidaste la contraseña?</p>
                    </div>
                    <button type="submit" class="btn btn-blue btn-block">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
</div> --}}

<!-- Modal-->
<div id="modalEmail" class="modal-login">
    <div class="alignitem">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modalHeader">
                <span class="cerrar">&times;</span>
                <h3>Recuperar contraseña</h3>
            </div>
            <form action="/send_mail" method="POST">
                <div class="py-4 px-5">
                    ¿Cuál es la dirección de correo electrónico? <br>
                    <input type="email" class="form-control mt-3" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="modalFooter d-flex justify-content-end mb-3">
                    <button type="submit" class="btn btn-primary mr-3">Enviar</button>
                    <button type="button" class="btn btn-secondary" id="cancelar">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var modal = document.getElementById("modalEmail");
    var cancelar = document.getElementById("cancelar");
    var span = document.getElementsByClassName("cerrar")[0];

    cancelar.onclick = function () {
        modal.style.display = "none";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == document.getElementsByClassName("alignitem")[0]) {
            modal.style.display = "none";
        }
    }

    document.getElementById("link-pass").addEventListener("click", abrirmodal);

    function abrirmodal() {
        var changeclass = document.getElementsByClassName("modal-login")[0];
        changeclass.style.display = "block";
    }

</script>