{{> navigation}}

<h2 class="mb-5">
    Administrar Monitoristas
</h2>

<div class="container contAlert">
    <div class="row">
        <div id="alerta" class="col-offset-1 col-10">
        </div>
    </div>
</div>

{{#if (notexist monitoristas)}}
<div class="container contAlert">
    <div class="row">
        <div class="col-offset-1 col-10">
            <div class="alert alert-warning alert-dismissible fade show w-100" role="alert">
                No existen monitoristas registrados en el sistema.
            </div>
        </div>
    </div>
</div>
{{else}}
<div>
    <div class="d-flex justify-content-center">
        <table class="table table-hover table-size bg-white shadow-box" id="tabla-usuarios">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                {{#each monitoristas}}
                <tr>
                    <td>{{ nombre }} {{ apellido }}</td>
                    <td>{{ username }}</td>
                    <td>
                        <input id="toggle-{{ id }}" type="checkbox" data-toggle="toggle" data-on="Activo"
                            data-onstyle="success" data-off="Inactivo" data-offstyle="warning" {{#if (estado_usuario estado)}} checked {{/if}}>
                        <button class="btn-save ml-3" data-toggle="tooltip" data-placement="bottom" title="Guardar" onclick="guardar({{ id }})"><i class="fa fa-check"></i></button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/if}}

</main>
</div>

<script>
    function guardar(id){
        const inputID = 'toggle-'+id;
        const inputChecked = document.getElementById(inputID).checked;
        const divAlert = document.getElementById("alerta");
        var checked = '';

        if(inputChecked === true){
            checked = 'true';
        } else {
            checked = 'false';
        }

        fetch('/saveMonit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: id,  checked: checked})
        })
        .then((res) => res.json())
        .then((data) => {
            var html = '';
            html += `<div class="alert ${data.class} alert-dismissible fade show w-100" role="alert">
                    ${data.msj}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>`;
            divAlert.innerHTML = html;
        })
        .catch((err) => console.log(err));

    }
</script>